<div style="display: flex;
             flex-direction: column;
             align-items: center;
             justify-content: center;
             margin-top: 15px;
             height: 100%;">

  <form class="form-add-product" [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field class="style_block_input">
        <mat-label>Сотрудник</mat-label>
        <mat-select placeholder="Сотрудник" 
            formControlName="employee"
            [(ngModel)]="idEmployee">
            <mat-option>---</mat-option>
            <mat-option *ngFor="let e of (employees$ | async)" [value]="e.id">
                {{e.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="style_block_input">
        <mat-label>Клиент</mat-label>
        <input matNativeControl type="text" formControlName="user" placeholder="Клиент" 
            [ngModel]="user?.name" readonly>
      </mat-form-field>

    <mat-form-field class="style_block_input">
      <mat-label>Выбранный фильм</mat-label>
      <mat-select placeholder="Фильм" 
          formControlName="film"
          [(ngModel)]="idFilm"
          (ngModelChange)="onChangeFilm()">
          <mat-option *ngFor="let f of (films$ | async)" [value]="f.id">
            {{f.name}}
          </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field class="style_block_input">
      <mat-label>Выбранный зал</mat-label>
      <mat-select matNativeControl placeholder="Зал" 
          formControlName="hall"
          [(ngModel)]="idHall"
          (ngModelChange)="onChangeHall()">
          <mat-option *ngFor="let h of (halls$ | async)" [value]="h.id" [disabled]="!selectFilm">
            № {{h.numberHall}}
          </mat-option>
      </mat-select>
    </mat-form-field>

    
    <div style="display:flex;"> 
        <mat-form-field class="select_input">
            <mat-label>Время сеанса</mat-label>
            <mat-select matNativeControl formControlName="time" 
                        placeholder="Время"
                        [(ngModel)]="time"
                        (ngModelChange)="onChangeSeance()">
                <mat-option *ngFor="let s of (seances$ | async)" 
                            [value]="s.time" 
                            [disabled]="!selectFilm && !selectHall">
                    {{s.time}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="select_input select">
            <mat-label>Дата сеанса</mat-label>
            <mat-select matNativeControl formControlName="date" 
                        placeholder="Дата"
                        [(ngModel)]="date"
                        (ngModelChange)="onChangeSeance()">
                <mat-option *ngFor="let s of (seances$ | async)" 
                            [value]="s.date" 
                            [disabled]="!selectFilm && !selectHall">
                    {{s.date}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <p style="margin: 5px; display: flex; width: 500px; padding: 2px;">
        <mat-icon (click)="addTicket()" style="cursor: pointer; margin-left: 82%;">add</mat-icon>
        <mat-icon (click)="delTicket()" style="cursor: pointer; margin-left: 3%;">clear</mat-icon>
    </p>

    <div style="display:flex;" *ngFor="let t of tickets"> 
        <mat-form-field class="select_input">
            <mat-label>Ряд</mat-label>
            <mat-select matNativeControl formControlName="row"
                        placeholder="Ряд"
                        [(ngModel)]="t.row"
                        (ngModelChange)="onChangeTicket()">
                <mat-option *ngFor="let p of (places$ | async)"
                            [value]="p.row" 
                            [disabled]="!selectFilm && !selectHall">
                    {{p.row}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="select_input select">
            <mat-label>Место</mat-label>
            <mat-select matNativeControl formControlName="position"
                        placeholder="Место"
                        [(ngModel)]="t.place"
                        (ngModelChange)="onChangeTicket()">
                <mat-option *ngFor="let p of (places$ | async)" 
                            [value]="p.position" 
                            [disabled]="!selectFilm && !selectHall">
                    {{p.position}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <p>
        <button mat-flat-button class="button_add_film" type="submit" 
                [disabled]="!correctTicket" [mat-dialog-close]="true">
          Сделать заказ
        </button>
        <button mat-flat-button class="button_add_film" (click)="close()">
          Отмена
        </button>
    </p>
  </form>
</div>


