*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    background-color: white;
    font-size: 14px;
    font-family: sans-serif;
  }
  
  body li {
    list-style-type: none;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
