<div class="block_item_registr">
    <section class="block_item_sigout block-item-sigout">
      <h2 class="block-item_title">У вас уже есть аккаунт?</h2>
      <button mat-flat-button class="block-item_btn" (click) = "submit()">Войти</button>
    </section>
  </div>

  <div class="form-box-signout">
    <form action="#" class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2 class="form_title_g_reg">Приложение Кинотеатр</h2>
      <h3 class="form_title">Регистрация</h3>
      <mat-form-field class="style_block_input">
        <input matInput type="email" class="form_input" placeholder="Email" formControlName = "email">
        <section class="form_error_registr" *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)">
          <mat-error>
            
          </mat-error>
        </section>
      </mat-form-field>
      <mat-form-field class="style_block_input">
        <input matInput 
        type="text" 
        class="form_input" 
        placeholder="Логин" 
        formControlName = "login">
        <mat-error class="form_error_registr"  *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)">
        </mat-error>
      </mat-form-field>
      <mat-form-field class="style_block_input">
        <input matInput type="password" class="form_input" placeholder="Пароль" formControlName = "password">
        <mat-error class="form_error_registr" *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)">
        </mat-error>
      </mat-form-field >
      <p style="margin-right: 74%; margin-top: 5%;">
        <button mat-flat-button
          style="color: white;"
          class="form_btn_singout" 
          [style.background]="this.form.valid ? '#f43648' : '#9E9E9E'"
        >
          Зарегистрироваться
        </button>
      </p>
    </form>
  </div>
