.wrapper {
    background-color: white;
    height: 100%;
    width: 100%;
}

h1 {
    padding: 0 1rem;
}

h2 {padding: 1rem;}

mat-toolbar{
    position:fixed;
    top:0;
    z-index: 2;
}

mat-sidenav-container {
    height:100%;
}

mat-sidenav {
    padding-top: 3.5rem;
    @media screen and (min-width: 600px) {
      padding-top: 4rem;
    }

    .entry{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding:0.75rem;
    }
  }

mat-sidenav-content{
    padding-top: 3.5rem;
    @media screen and (min-width: 600px) {
        padding-top: 4rem;
    }
}

.expanded {
    width: 170px;   
}

mat-toolbar {
    display: flex;
    justify-content: space-between;
}

.content {
    height: max-content; 
    width: max-content; 
    margin-top: 10px;
    padding: 10px;
}