<h2 class="text_title">Текущие сеансы</h2>
<div class="seances" *ngIf="seances$ | async as seances">
    <table class="table">
        <thead>
            <tr>
                <th>Фильм</th>
                <th>Зал</th>
                <th>Дата</th>
                <th>Время</th>
                <th>Тип</th>
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let seance of seances">
                <td *ngIf="(films$ | async) | film:seance as film">
                    {{film.name}}
                </td>
                <td *ngIf="(halls$ | async) | hall:seance as hall">
                    № {{hall.numberHall}}
                </td>
                <td>{{seance.date}}</td>
                <td>{{seance.time}}</td>
                <td>{{seance.type}}</td>
                <td>{{seance.price}} P</td>
                <td>
                    <mat-icon style="cursor: pointer;" (click)="updateSeance(seance.id!)">
                        create
                    </mat-icon>
                </td>
                <td>
                    <mat-icon style="cursor: pointer;" (click)="delSeance(seance)">
                        clear
                    </mat-icon>
                </td>
            </tr>
        </tbody>
    </table>
  </div>

