<h2>Главная страница</h2>

<p class="text">
    Данное приложение служит для реализаций функционала при работе с БД "Кинотеатр". <br> <br>
    Приложение расчитано для того чтобы им в первую очередь использовали сотрудники кинотеатра. <br>
    Для клиентов необходимо ограничить функционал.<br> 

    Благодаря пользователи данного приложения способны:<br>
    <span style="margin-left: 7px;">1. Просматривать список всех фильмов, которые сейчас находятся в базе.</span><br> 
    <span style="margin-left: 7px;">2. Добавлять новый фильм в базу данных.</span><br>
    <span style="margin-left: 7px;">3. Просматривать список доступных сеансов.</span><br> 
    <span style="margin-left: 7px;">4. Редактировать текущие сеансы.</span><br>
    <span style="margin-left: 7px;">5. Оформлять заказы.</span><br>
    <span style="margin-left: 7px;">6. Просматривать статистику и загружать отчёты.</span><br>
    <br>
    C помощью данного приложения возможно автоматизировать работу отдельного кинотеатра.<br>

</p>